.card{
    text-align: center;
    background-color: rgba(62, 95, 45, 0.535);
    letter-spacing: 1px;
    font-family: cursive;
    color:greenyellow;
    text-shadow: 1px 1px 1px rgb(0, 0, 0),  1px 1px 10px rgb(0, 0, 0);
    /* float: left; */
    padding: 2% 0% 2.1%;
    width: 320px;
    /* margin: -10px 30px 60px; */
    /* position: relative; */
    left: 20px;
    top: 70px;
    border-radius: 5mm;
}
.container{
    display: flex;
} 
img{
     border-radius:5mm ;

}