.About{
    position:absolute;
    top:70px;
    left:80mm;
    letter-spacing: 0cqb;
    color: rgba(235, 50, 241, 0.975);
    text-shadow: 2cap 1px 1px (rgba(248, 244, 244, 0.987));
    font-size: 45px;
}
.nombre{
    position:absolute;
    top: 130px;
    left: 90mm;
    letter-spacing: 0cqb;
    color: rgba(249, 82, 233, 0.791);
    text-shadow: 2cap 1px 1px (rgb(249, 249, 249));
    font-size: 40px;
}
.texto{
    text-align:justify;
    position:absolute;
    top: 249px;
    left: 100mm;
    right: 30mm;
    letter-spacing: 0cqb;
    background-color:rgba(242, 100, 229, 0.597);
    font-family: monospace;
    padding: 3mm 20.6mm 7mm 2mm;
    border-radius: 0% 2em 2em 0%;
    font-size: 195%;
    color: rgb(210, 232, 252);
}
.MiFoto{
    position:relative;
    top: 30px;
    left: 0%;
    width: 20%;
    border-radius: 1em;
    box-shadow: 1px 1px 10px rgb(249, 3, 249);
}